n8n/workflow_1_buscador.json
{
    "name": "PriceNode - Buscador Real-Time",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "pricenode-search",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook (API Next.js)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                300
            ],
            "webhookId": "pricenode-search-1234"
        },
        {
            "parameters": {
                "url": "=https://api.mercadolibre.com/sites/MLA/search?q={{$json.body.query}}",
                "options": {}
            },
            "id": "mercadolibre-api",
            "name": "MercadoLibre (API Real)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                250,
                150
            ]
        },
        {
            "parameters": {
                "url": "=https://www.amazon.com/s?k={{$json.body.query}}",
                "options": {
                    "responseFormat": "string"
                }
            },
            "id": "amazon-scr",
            "name": "Amazon (Scraper Placeholder)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                250,
                450
            ]
        },
        {
            "parameters": {
                "jsCode": "// Logic to aggregate results from different stores\nconst mlProducts = $node[\"MercadoLibre (API Real)\"].json.results || [];\nconst amazonHtml = $node[\"Amazon (Scraper Placeholder)\"].json.data || \"\";\n\nconst results = [];\n\n// MercadoLibre Processing\nmlProducts.slice(0, 10).forEach(p => {\n  results.push({\n    name: p.title,\n    price: p.price,\n    url: p.permalink,\n    store: 'MercadoLibre',\n    image: p.thumbnail,\n    verified: true,\n    last_updated: new Date().toISOString()\n  });\n});\n\n// Amazon Processing (Simulated extraction from HTML for this example)\n// In a real n8n env, we'd use the HTML node, but here we process the string\nif (amazonHtml.includes('s-result-item')) {\n    // Basic regex extraction for demo/production-ready logic\n    const amazonMatch = amazonHtml.match(/<span class=\"a-text-normal\">(.*?)<\\/span>/g);\n    if (amazonMatch) {\n        amazonMatch.slice(0, 5).forEach(m => {\n            results.push({\n                name: m.replace(/<[^>]*>?/gm, ''),\n                price: 0, // In production, extract price real\n                url: 'https://amazon.com',\n                store: 'Amazon',\n                verified: true,\n                last_updated: new Date().toISOString()\n            });\n        });\n    }\n}\n\nreturn [{ json: { results } }];"
            },
            "id": "aggregator",
            "name": "Agregador de Datos",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                600,
                300
            ]
        }
    ],
    "connections": {
        "Webhook (API Next.js)": {
            "main": [
                [
                    {
                        "node": "MercadoLibre (API Real)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Amazon (Scraper Placeholder)",
                        "type": "main",
                        "index": 0                     }
                ]
            ]
        },
        "MercadoLibre (API Real)": {
            "main": [
                [
                    {
                        "node": "Agregador de Datos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Amazon (Scraper Placeholder)": {
            "main": [
                [
                    {
                        "node": "Agregador de Datos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}